@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');
*{
    margin: 0;
    padding: 0;
}
.bir{
    margin:150px auto 0px ;
    width: 713px;
    height: 70px;
    text-align: center;
}
.iki{
    margin:40px auto 0px;
    width: 713px;
    height: 140px;
    text-align: center;
}
h1{
    font-size: 58px;
    color: rgb(30, 14, 98);
    font-family:DM Sans;
    line-height: 70px;
}
h2{
    color: rgba(21, 20, 57, 0.4);
    font-size: 22px;
    font-family:DM Sans;
    line-height: 28px;
}
button{ 
    background-color:rgb(37, 218, 197);
    width: 230px;
    height: 60px;
    margin:0px 650px;
    border-radius: 100px;
    border: none;
    text-align: center;
    color: white;
    font-size: 20px;
}
p{
    margin:20px auto;
    width: 713px;
    height: 140px;
    text-align: center;
    color: rgba(21, 20, 57, 0.4);
}